<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>47기 사이드 프로젝트 팀 협업 도구</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/junsu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.3.1/dist/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.3.1/dist/css/bootstrap.rtl.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.3.1/dist/css/bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.3.1/dist/css/bootstrap-grid.rtl.css}">
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.3.1/dist/css/bootstrap-reboot.css"> -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.3.1/dist/css/bootstrap-reboot.rtl.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.3.1/dist/css/bootstrap-utilities.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.3.1/dist/css/bootstrap-utilities.rtl.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" id="pct-logo row" href="#">

                <div class="pct-logo-font"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-box2" viewBox="0 0 16 16">
                    <path d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3L2.95.4ZM7.5 1H3.75L1.5 4h6V1Zm1 0v3h6l-2.25-3H8.5ZM15 5H1v10h14V5Z"/>
                </svg>&nbsp;&nbsp; PCT</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="blank-nav">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">주제 브레인스토밍</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">회원가입신청목록</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main-logo d-flex">


    </div>

    <div class="container col-md-12 col-sm-12">
        <div class="d-flex justify-content-center align-items-center">
            <div class="main-font text-center" contenteditable="true" id="title">브레인스토밍</div>
        </div>
        <div class="h-blank-60"></div>
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="pct-content" id="maincontent" th:utext="${html}">
            <h1 contenteditable="true" id="subject">새 프로젝트 주제는?</h1>
            <li class="li-font" contenteditable="true" id="listEle">하하</li>
        </div>
    </div>
    <script th:src="@{/js/jquery-3.7.0.js}"></script>
    <script th:src="@{/js/parsley.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
<script type="text/javascript">
    const socket = new WebSocket('ws://localhost:80/my-websocket-endpoint');

    socket.onopen = () => {
        console.log('Connected to the document server');
    };

    socket.onmessage = (event) => {
        const data = JSON.parse(event.data);
        applyChangesToDocument(data);
    };

    socket.onclose = () => {
        console.log('Connection closed');
    };

    socket.onerror = (error) => {
        console.error('An error occurred:', error);
    };

    $(document).ready(function (){
        $('#maincontent').keydown(function (event){
            if(event.key === 'Enter' || event.keyCode === 13){
                event.preventDefault(); // 기본 엔터 동작 막기

                let selection = window.getSelection();
                let range = selection.getRangeAt(0);
                let node = range.startContainer;
                console.log(selection);
                console.log(range);
                console.log(node);

                // 텍스트 노드일 경우 부모 노드 선택
                if (node.nodeType === Node.TEXT_NODE) {
                    node = node.parentNode;
                }

                const newId = uuid.v4();

                let parentId = $(node).attr('id');
                const $clonedId = $(`#${parentId}`).clone();
                $clonedId.text('').attr('id', newId);

                $(`#${parentId}`).after($clonedId);

                $(`#${newId}`).focus();
            }
        })
    })

    document.getElementById('maincontent').addEventListener('input', (event) => {
        const changes = detectChanges(event); // 변경사항을 감지하는 로직이 필요합니다.
        console.log(changes);
        
    });


</script>
</html>