<!DOCTYPE html>
<html layout:decorate="~{layout/default}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeLeaf.org">
    <head>
        <script th:inline="javascript">
            /*<![CDATA[*/
            let orderList = /*[[${orderList}]]*/ [];
            console.log(orderList);
            /*]]>*/
        </script>
    </head>
    <th:block layout:fragment="customContents">

        <div class="container d-flex justify-content-center align-items-center">
            <div class="pct-content" id="maincontent">
                <div th:each="html : ${htmlList}" th:utext="${html}"></div>
            </div>
        </div>

    </th:block>
    <th:block layout:fragment="customJs">
        <script type="text/javascript">
            const socket = new WebSocket('ws://localhost:80/my-websocket-endpoint');

            socket.onopen = () => {
                console.log('Connected to the document server');
            };

            socket.onmessage = (event) => {
                const data = JSON.parse(event.data);
                applyChangesToDocument(data);
            };

            socket.onclose = () => {
                console.log('Connection closed');
            };

            socket.onerror = (error) => {
                console.error('An error occurred:', error);
            };

            let orderModifyDataArr = [];
            let orderAddDataArr = [];

            function arraysEqual(arr1, arr2) {

                orderModifyDataArr = [];
                orderAddDataArr = [];
                let isAjax = false;

                for (let i = 0; i < arr1.length; i++) {

                    console.log(arr2[i]);
                    let arr1EleId = arr1[i].orderEleId;
                    let arr2EleId;
                    if (arr2[i] === undefined) {
                        orderAddDataArr.push(arr1[i]);
                        isAjax = true;
                        break;
                    } else {
                        arr2EleId = arr2[i].orderEleId;
                    }
                    if (arr1EleId !== arr2EleId) {
                        orderModifyDataArr.push({orderNumber: i, orderEleId: arr1[i].orderEleId});
                        isAjax = true;
                    }
                }

                if(isAjax){
                    $.ajax({
                        url: '/collaborationTool/changeOrder',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            orderAddDataArr: orderAddDataArr,
                            orderModifyDataArr: orderModifyDataArr
                        }),
                        success: function (){

                        },
                        fail:function(jqXHR, textStatus, errorThrown) {
                            alert('오류가 발생했습니다. ' + textStatus + ': ' + errorThrown);
                        }
                    })
                }
            }


            $(document).ready(function (){
                $('#maincontent').keydown(function (event){
                    if(event.key === 'Enter' || event.keyCode === 13){
                        event.preventDefault(); // 기본 엔터 동작 막기
                        if(!event.originalEvent.isComposing){

                            let selection = window.getSelection();
                            let range = selection.getRangeAt(0);
                            let node = range.startContainer;
                            let startOffset = range.startOffset; // 여기를 시작점으로 설정

        // 새로운 범위를 설정하기 위해 기존 범위를 복제
                            let newRange = range.cloneRange();
                            newRange.setStart(range.startContainer, startOffset);
                            newRange.setEnd(range.startContainer, range.startContainer.length);

        // 범위 내의 텍스트 추출
                            let remainingText = newRange.toString();
                            console.log(remainingText); // 시작점 뒤의 모든 글자를 출력

                            console.log(selection);
                            console.log(range);
                            console.log(node);


                            // 텍스트 노드일 경우 부모 노드 선택
                            if (node.nodeType === Node.TEXT_NODE) {
                                node = node.parentNode;
                            }

                            const newId = uuid.v4();

                            let parentId = $(node).attr('id');

                            let $liCreate = $('<li>').attr('class', 'li-font textEle').attr('contenteditable', 'true')
                                    .attr('id', newId);

                            $(`#${parentId}`).after($liCreate);

                            $(`#${newId}`).focus();
                        }
                    }
                })
            })

            $(document).on('input', function (e){

                let id = $(e.target).attr('id');
                sendSocket(id);

                let textEleArr = [];

                $('.textEle').each(function (idx){
                    let textEleId = $(this).attr('id');
                    textEleArr.push({
                        orderNumber: idx,
                        orderEleId: textEleId
                    });
                })

                arraysEqual(textEleArr, orderList);

            })

            function sendSocket(id){
                const htmlContent = $(`#${id}`)[0].outerHTML;
                socket.send(JSON.stringify({
                    id: id,
                    htmlContent: htmlContent
                }));
            }

        </script>
    </th:block>
</html>