<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/js.css" rel="stylesheet">
  </head>
  <body>
    <!-- 네비게이션 바 시작 -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid text-left">
            <!-- 로고 -->
            <div class="d-flex">
                <a class="navbar-brand" id="fsLogo" href="#">
                  <img src="/theme/basic/img/fs_logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
                </a>
                <!-- 검색창 -->
                <form class="search-box d-flex align-items-center" role="search">
                    <input class="form-control me-2" type="search" placeholder="FortySeven 검색" aria-label="Search">
                </form>
            </div>
            <!-- 네비게이션 바 아이콘 -->
            <div class="center-div d-flex">
                <a class="navbar-brand nav-icon" href="#"><img src="/theme/basic/img/nv_home.svg"></a>
                <a class="navbar-brand nav-icon" href="#"><img src="/theme/basic/img/nv_people.svg"></a>
                <a class="navbar-brand nav-icon" href="#"><img src="/theme/basic/img/nv_video.svg"></a>

            </div>
        </div>
        <!-- profile 사진 -->
        <div>
            <img src="/theme/basic/img/nv_profile.png" class="nv-profile">
        </div>
      </nav>
      <!-- 네비게이션 바 종료 -->
      <!-- 메인 컨텐츠 시작 -->
      <div class="d-flex text-right">
        <div class="main-content">
          <div>
              <!-- 상단 id 바 -->
              <div class="d-flex profile-bar">
                  <img src="/theme/basic/img/nv_profile.png" class="main-profile">
                  <div>
                      <div class="main-user-id">아이디입니다</div>
                      <div class="main-upload-time">1시간 전</div>
                  </div>
              </div>
              <!-- 메인 컨텐츠 내용 -->
              <div class="main-content-text">
                  안녕하세요, 이소리님!코딩 테스트가 다가오는 것을 알게 되어 응원의 글을 보내드립니다. 
                  이 테스트는 단순히 능력을 측정하는 시험이 아닌, 지금까지의 노력과 열정, 그리고 지속적인 학습의 성과를 보여줄 수 있는 기회입니다.
                  당신의 지식과 노력은 이미 충분하다고 믿습니다. 자신감을 가지고 평소처럼 집중하면 분명 좋은 결과를 이끌어낼 수 있을 것입니다.
                  테스트 전날은 너무 늦게까지 공부하지 마시고, 충분한 휴식을 취해주세요. 시험 당일에는 명상이나 깊은 호흡을 통해 마음을 가라앉히는 것도 도움이 될 수 있습니다.
                  이소리님, 당신은 이미 충분히 준비되었습니다. 지금까지 해온 것처럼 최선을 다하고, 자신의 능력을 뽐내주세요. 결과는 노력만큼 따라오게 될 것이라 확신합니다.
                  힘내세요! 응원하고 있을게요.
              </div>
              <!-- 메인 컨텐츠 사진 -->
              <div>
                  <img src="/theme/basic/img/sucess.jpg" class="main-content-img">
              </div>
              <!-- 메인 컨텐츠 댓글, 공유 알림 -->
              <div class="d-flex flex-row-reverse">
                  <div class="main-reply">공유 1회</div>
                  <div class="main-reply">댓글 2개</div>
              </div>
              <!-- 메인 컨텐츠 하단 좋아요, 댓글, 공유 버튼 -->
              <div class="d-flex main-content-footer justify-content-center">
                  <div class="d-flex main-content-footer-items">
                    <div class="main-content-like-icon">
                        <img src="theme/basic/img/hand-thumbs-up-fill.svg">
                    </div>
                    <div>
                        좋아요
                    </div>
                  </div>
                  <div class="d-flex main-content-footer-items">
                    <div class="main-content-like-icon">
                        <img src="theme/basic/img/chat-left.svg">
                    </div>
                    <div>
                        댓글 달기
                    </div>
                  </div>
                  <div class="d-flex main-content-footer-items">
                    <div class="main-content-like-icon">
                        <img src="theme/basic/img/chat-left.svg">
                    </div>
                    <div>
                        공유하기
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <!-- 메인 컨텐츠 종료 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>