<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<div id="header" th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" id="pct-logo row" href="#">

                <div class="pct-logo-font"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-box2" viewBox="0 0 16 16">
                    <path d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3L2.95.4ZM7.5 1H3.75L1.5 4h6V1Zm1 0v3h6l-2.25-3H8.5ZM15 5H1v10h14V5Z"/>
                </svg>&nbsp;&nbsp; PCT</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="blank-nav">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/collaborationTool/collaborationTool">주제 브레인스토밍</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/collaborationTool/memberApplicationList">회원가입신청목록</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main-logo d-flex">
    </div>
    <div class="container col-md-12 col-sm-12">
        <div class="d-flex justify-content-center align-items-center">
            <div class="main-font text-center" id="title" th:text="${title}"></div>
        </div>
        <div class="h-blank-60"></div>
    </div>
</div>
</html>